<% provide :title, 'Home' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-4">
      <div class="logo3">
        <br/>Infopolis ERP
        <br/>
        <div class="one-word-per-line">
          <%= t(:infopolis_product_short_description) %>
        </div>
      </div>
      <hr/>
      <%= t(:infopolis_product_long_description) %>
      <div align="right">
        <%= link_to static_page(:infopolis_erp) do %>

          <span class="button" style="padding-left: 5pt; padding-right: 5pt; padding-bottom: 3pt; padding-top: 3pt">
            <%= t(:infopolis_navigation_erp_details) %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag 'compass.png' %>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <div class="menu2 align-r" style="margin-top: 25pt; margin-right: -10pt">
        <%= link_to static_page(:infopolis_video) do %>
            <%= t(:video).html_safe %><br/>
        <% end %>

        <hr/>
        <%= t(:call) %><br/>
        +38(044)3328898
        <hr/>
        <%= t(:mail) %><br/>
        af@infopolis.com.ua
        <hr/>
        Skype<br/>
        Fedchenko_Andrey
        <hr/>
        <%= link_to static_page(:infopolis_sitemap) do %>
            <%= image_tag 'sitemap.png', size: "50x30" %>
            <% end %>
        </font>
        </span>
      </div>
    </div>
  </div>
  <div class="row roof"></div>
  <div class="row menu3">
      <div class="col-md-4 menu3-col">

        <div class="logo3 align-c"><%= image_tag 'erp.png' %> ERP</div>
        <hr/>
        <%= t(:infopolis_erp_short_description) %>
      </div>
      <div class="col-md-4 menu3-col">
        <div class="logo3 align-c"><%= image_tag 'crm.png' %> CRM</div>
        <hr/>
        <%= t(:infopolis_crm_short_description) %>
      </div>
      <div class="col-md-4 menu3-col">
        <div class="logo3 align-c"><%= image_tag 'bpm.png' %> BPM</div>
        <hr/>
        <%= t(:infopolis_bpm_short_description) %>
      </div>
    </div>
  <div class="row roof"></div>
</div>
