<% provide :title, 'ERP' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="logo3" style="margin-top: 25pt">ERP</div>
      <%= t(:infopolis_erp_long_description1).html_safe %>
      <p class="p1"><%= image_tag 'materials.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p1).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'finance.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p2).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'kadr.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p3).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'worktime.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p4).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'power.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p5).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'document.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p6).html_safe %><br/><br/></p>

      <p class="p1"><%= image_tag 'accouning.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p7).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'corporate.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p8).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'worldwide.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p9).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'currency.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p10).html_safe %><br/><br/></p>
      <p class="p1"><%= image_tag 'chart.png', class: 'icon' %> <%= t(:infopolis_erp_long_description_p11).html_safe %><br/><br/></p>


      <%= t(:infopolis_erp_long_description2).html_safe %>

      <div class="logo3" style="margin-top: 25pt">CRM&BPM</div>

      <%= t(:infopolis_CRM_BPM_long_description_p1).html_safe %><br/>
      <p align="center"><%= image_tag 'bpm2.png', class: 'iconbig' %></p>

      <%= t(:infopolis_CRM_BPM_long_description_p2).html_safe %><br/>
      <p align="center"><%= image_tag 'bp.png', class: 'iconbig' %></p>

      <%= t(:infopolis_CRM_BPM_long_description_p3).html_safe %><br/>

      <!--<div style="text-align: right">
      <%= link_to static_page(:infopolis_crm_bpm_example) do %>
            <%= t(:infopolis_navigation_crm_bpm_example) %>
      <% end %>
      </div>
      <%= t(:infopolis_CRM_BPM_long_description2).html_safe %>
      -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="logo4" style="margin-top: 25pt; text-align: right"><%= t(:infopolis_erp_how).html_safe %></div>

      <p align="center"><%= image_tag 'structure.png', class: 'iconbig2' %></p>

      <div class="right_column"><%= t(:infopolis_erp_how_details).html_safe %></div>
      <div class="logo4" style="margin-top: 25pt; text-align: right"><%= t(:infopolis_erp_for).html_safe %></div>
      <div class="right_column"><%= t(:infopolis_erp_for_details).html_safe %></div>
      <div class="logo4" style="margin-top: 25pt; text-align: right"><%= t(:infopolis_erp_for_small).html_safe %></div>
      <div class="right_column"><%= t(:infopolis_erp_for_small_details).html_safe %></div>
    </div>
  </div>
  <div class="row roof"></div>
</div>
