<% provide :title, 'Solutions' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <%= t(:infopolis_solutions_common).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_distrib_title).html_safe %></div>
      <%= t(:infopolis_solutions_distrib).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_production_title).html_safe %></div>
      <%= t(:infopolis_solutions_production).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_retail_title).html_safe %></div>
      <%= t(:infopolis_solutions_retail).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_insurance_title).html_safe %></div>
      <%= t(:infopolis_solutions_insurance).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_oil_title).html_safe %></div>
      <%= t(:infopolis_solutions_oil).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_service_title).html_safe %></div>
      <%= t(:infopolis_solutions_service).html_safe %>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="align-c"><%= image_tag 'kvant-efir-logo.png', class: 'customer_logo3' %></div>

      <div class="align-c"><%= image_tag 'comtel-logo.png', class: 'customer_logo3' %></div>

      <div class="align-c"><%= image_tag 'mediatrade-logo.png', class: 'customer_logo2' %></div>

      <div class="align-c"><%= image_tag 'Belle-femme-logo.jpg', class: 'customer_logo' %></div>

      <div class="align-c"><%= image_tag 'Lookinside-logo.jpg', class: 'customer_logo' %></div>

      <div class="align-c"><%= image_tag 'Proinsurence-logo.png', class: 'customer_logo' %></div>

      <div class="align-c"><%= image_tag 'artgarant-logo.png', class: 'customer_logo' %></div>

      <div class="align-c"><%= image_tag 'expogaz-logo.png', class: 'customer_logo' %></div>


    </div>
  </div>
  <div class="row roof"></div>
</div>
