<% provide :title, 'Solutions' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_distrib_title).html_safe %></div>
      <%= t(:infopolis_solutions_distrib).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_production_title).html_safe %></div>
      <%= t(:infopolis_solutions_production).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_retail_title).html_safe %></div>
      <%= t(:infopolis_solutions_retail).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_insurance_title).html_safe %></div>
      <%= t(:infopolis_insurance_production).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_oil_title).html_safe %></div>
      <%= t(:infopolis_insurance_oil).html_safe %>

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_solutions_service_title).html_safe %></div>
      <%= t(:infopolis_service_oil).html_safe %>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div><%= image_tag 'kvant-efir-logo.png' %></div>
      <div class="right_column"><%= t(:infopolis_cust_kvant_efir).html_safe %></div>
    </div>
  </div>
  <div class="row roof"></div>
</div>
