<%= provide(:title, "Register") %>
<div class="center hero-unit">

	<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages' %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<br />

	<%= f.label :email %>
	<%= f.text_field :email %>

	<br />
	<%= f.label :password %>
	<%= f.password_field :password %>

	<br />
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>

	<br />
	<%= f.submit "Register", class: "btn btn-large btn-primary" %>
	<% end %>

</div>
