<%= form_for('current_page') do |f| %>

	<table class="table report-table">
		<thead>
			<tr>
				<th rowspan="2">АЗС</th>
				<th rowspan="2">Управление ценами</th>
				<th colspan="<%= @report_tovs.count %>"> Цены </th>
			</tr>
			<tr>
				<% @report_tovs.each do |t| %>
				<th> <%= t['tov_nm'] %> </th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @report_masts.each do |b| %>
			<% prices_export_disable = b['properties'] && (b['properties'].include? 'OIL_PRICES_EXPORT_DISABLE') %>

			<tr id="<%= b['bmast_id'] %>">
				<td> <%= b['bmast_nm'] %> </td>
				<td style="padding:0">
				<select name="PrCombo" id="<%= b['bmast_id'] %>" onchange="ControlChange()" style="border: 0 none;">
					<option value="1" <%= ' selected="selected"' if prices_export_disable %>> from PFS </option>
					<option value="0" <%= ' selected="selected"' unless prices_export_disable %>> from office </option>
				</select></td>
				<% @report_tovs.each do |t| %>
				<td class="money"> <% p = @report_data.find{|p| p['tov_id']==t['tov_id'] && p['bmast_id']==b['bmast_id']} %>

				<%= text_field_tag 'PrPrice', (format_money(p['price']) if p), id: t['tov_id'], readonly: (prices_export_disable ? 'readonly' : nil), class: "number-grid-input", onkeypress: "if (!this.readOnly) numberValidate(event);", onchange: "ControlChange()" %> </td>
				<% end %>
			</tr>

			<% end %>

			<tr>
				<td colspan="<%= @report_tovs.count+2%>" align="right">
				<input type="hidden" id="submitData" name="data"/>
				<input id="btReset" type="reset" value="Отмена" style="margin-right:15px; padding:0px 5px" disabled="disabled" onclick="formReset(this);">
				</input>
				<input id="btSubmit" type="submit" onclick="saveData()" value="Сохранить" style="padding:0px 5px" disabled="disabled">
				</input></td>
			</tr>
		</tbody>
	</table>
<% end %>
