<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %> 

<% measure_count=3 %>

<% @report_fopls.map{|f| f.merge! sk_exists: @report_data.select{|t| t['fopl_id']==f['fopl_id']}.any?{|t| t['sk'] } } %>

<table class="table report-table">
	<thead>
		<tr>
			<th rowspan="3">Наименование</th>
			<th rowspan="3">Цена</th>
			<th colspan="<%= @report_fopls.inject(0){|sum, f| sum+(f[:sk_exists] ? measure_count : measure_count-1) } %>">Форма оплаты</th>
			<% if @report_fopls.count>1 %>
			<th rowspan="2" colspan="<%= measure_count - 1 %>">Итого</th>
			<% end %>
		</tr>
		<tr>
			<% @report_fopls.each do |f| %>
			<% cash_colspan = f[:sk_exists] ? measure_count : measure_count-1 %>
			<th colspan="<%= cash_colspan %>"> <%= f['fopl_nm'] %> </th>
			<% end %>
		</tr>
		<tr>
			<% (@report_fopls + (@report_fopls.count>1 ? [nil] : [])).each do |f| %>
			<th>Продано, л</th>
			<% if f && f[:sk_exists] %>
			<th>Округление</th>
			<% end %>
			<th>Продано, сумма</th>
			<% end %>
		</tr>
		<%= render 'sales_row', row_level: 3, caption: "Total:", values: @report_data, pr0: nil %>
	</thead>

	<tbody>
		<% @report_masts.each do |m| %>
		<%= render 'sales_row', row_level: 2, caption: m['bmast_nm'], values: @report_data.select{|t| t['bmast_id']==m['bmast_id']}, pr0: nil %>

		<% @report_data.select{|t| t['bmast_id']==m['bmast_id']}.group_by{|t| [t['tov_nm'],t['pr0']]}.each do |group,values| %>
		<%= render 'sales_row', row_level: 1, caption: group.first, values: values, pr0: group.second %>
		<% end %>

		<% end %>
	</tbody>
	
</table>

<% chart_data = @report_data.group_by{|d| d['tov_nm']} %>
<% chart_data = chart_data.map{|k,v| [k, v.hash_sum('qty') ]}   %>

<%= pie_chart chart_data, library: {title: 'by product, liters'} %>

<% chart_data = {'PFS' => nil}.merge (@report_data.group_by{|d| d['tov_nm'] }) %>

<% chart_data = chart_data.map{|k,v| [k, v.nil? ? 'pfs' : v.hash_sum('qty') ]}   %>

<%= column_chart chart_data, library: {title: 'by PFS and product, liters'} %>
