<tr class="data_group<%= row_level-1 %>">
	<td> <%= caption %> <td class="money"> <%= format_money pr0 %> </td>
	<% (@report_fopls + case when @report_fopls.count>1 then [nil] else [] end).each do |f| %>

	<% fopl_values = case when f then values.select{|v| v['fopl_id']==f['fopl_id']} else values end %>

	<td class="qty"> <%= format_liters fopl_values.inject(0){|sum,m| sum+m['qty'] } %> </td>
	</td>
	<% if f && f[:sk_exists] %>
	<td class="money"> <%= format_money fopl_values.inject(0){|sum,m| sum+(m['sk'] ? m['sk'] : 0)} %> </td>
	<% end %>

	<td class="money"> <%= format_money fopl_values.inject(0){|sum,m| sum+ (m['prod'] ? m['prod'] : 0)} %> </td>

	<% end %>
</tr>