<%

 #tank_filling = isnil(isnil(values.detect{|v| v['field_nm']=='OIL_REMAINDER2'},{})['val'],0) / isnil(t['volume'],1) * 100

  tank_volume = isnil(t['volume'],0)
  fuel_volume = array_hash_key_value(values,:field_nm,:OIL_REMAINDER2,:val)
  tank_filling = tank_volume.nil? || tank_volume==0 ? nil : fuel_volume / tank_volume * 100
  fuel_density = array_hash_key_value(values,:field_nm,:OIL_DENSITY2,:val)
  water_volume = array_hash_key_value(values,:field_nm,:OIL_WATER,:val) 

  tank_height=98
  tank_width=62
  tank_border_height=3
  tank_border_width=2

  water_height=isnil(array_hash_key_value(values,:field_nm,:OIL_WATER,:val) * (tank_height-2*tank_border_height) / tank_volume, 0)

  fuel_height=isnil(fuel_volume * (tank_height-2*tank_border_height) / tank_volume,0)

  volume_book = t['volume_book']
  volume_diff = isnil(volume_book,0) - isnil(fuel_volume,0)

%>

<div style="float:left;margin-left:25px;">
	<div style="float:left;">
		<table style="font-size:85%">
			<tr>
				<th colspan="4"><a href="#" title="Click to detail"> Tank #
				<%= t['tank_num']+', '+ t['tov_nm'] %> </a></th>
			</tr>
			<tr>
				<td rowspan="13" style="vertical-align:middle; padding:5px;">
				<div style="text-align:center; font-weight:bold;" title="% заполнения резервуара топливом">
					<%= format_percent tank_filling %> %
				</div><a href="#">
				<div style="position:relative; height:<%= tank_height%>px; width:<%= tank_width%>px;" title="Click to detail">
					<img src="/assets/tank_empty.png"/>

					<% if water_height>0 %>
					<div style="position:absolute; bottom:<%= tank_border_height %>px; left:<%= tank_border_width %>px">
						<img src="/assets/tank_water.png" style="height:<%= water_height %>px; width:<%= tank_width - tank_border_width*2 %>px;"/>
					</div>
					<% end %>

					<% if fuel_height>0 %>
					<div style="position:absolute; bottom:<%= tank_border_height+water_height %>px; left:<%= tank_border_width %>px">
						<img src="/assets/tank_fuel.png" style="height:<%= fuel_height %>px; width:<%= tank_width - tank_border_width*2 %>px; left:<%= tank_border_width %>px"/>
					</div>
					<% end %>
					<!--<div style="position:absolute; bottom:{$tank_border_height+$water_height+$book_height}px; left:{$tank_border_width}px">
					<img src="tank_book.png" style="width:{$tank_width - $tank_border_width*2}px; left:{$tank_border_width}px"/>
					</div>-->
				</div> </a>
				<div style="text-align:center; font-size:65%" title="Дата и время актуальности показаний">
					<%= format_datetime(t['dt']) %>
				</div></td>

			<%= render 'tank_row', caption: "Объем топлива", liters: fuel_volume, no_tr: true %>
			</tr>
			<%= render 'tank_row', caption: "Объем топлива учетный", liters: volume_book %>
			<%= render 'tank_row', caption: volume_diff > 0 ? "Недостача" : "Излишек", liters: volume_diff.abs %>
			<%= render 'tank_row', caption: "Объем резервуара", liters: t['volume'] %>
			<%= render 'tank_row', caption: "Высота резервуара", mm: t['height'] %>
			<%= render 'tank_row', caption: "Уровень топлива", mm: array_hash_key_value(values,:field_nm,:OIL_AMOUNTMM,:val,nil) %>
			<%= render 'tank_row', caption: "Уровень воды", mm: array_hash_key_value(values,:field_nm,:OIL_WATERMM,:val,nil) %>
			<%= render 'tank_row', caption: "Объем воды", liters: water_volume %>
			<%= render 'tank_row', caption: "Температура", degree: array_hash_key_value(values,:field_nm,:OIL_TEMP2,:val,nil) %>
			<%= render 'tank_row', caption: "Плотность топлива", density: fuel_density %>
			<%= render 'tank_row', caption: "Масса топлива", kg: fuel_density*fuel_volume if fuel_density && fuel_volume %>
			<%= render 'tank_row', caption: "Свободный объём", liters: tank_volume-fuel_volume-water_volume %>
		</table>
	</div>
</div>
