<%= provide(:title, "Reports") %>
<div class="row container">
	<div class="col-md-3">

		<div class="btn-group">
			<button class="btn btn-primary">
				<%= @master.name %>
			</button>
			<% if @masters.count > 1 %>
			<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<% @masters.each do |m| %>
				<li <%= 'class=active' if m.id==@master.id %>>
					<%= link_to m.name, "/reports/#{@report.name}/#{m.id}" %>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>

		<br />
		<br />

		<ul class="nav nav-stacked nav-pills ">
			<% @reports.each do |r| %>
			<li <%= 'class=active' if r.name==@report.name %>>
				<%= link_to r.caption, "/reports/#{r.name}/#{@master.id}" %>
			</li>

			<% end %>
		</ul>
		
		<h4>
			Report filter
		</h4>
		
		<%= form_for(:report, url: {}, html: { method: :GET } ) do |f| %>

<div id="daterange" class="selectbox pull-right">
			<span>July 18, 2014 - August 16, 2014</span> <b class="caret"></b>
		</div>
		
		<script type="text/javascript">
		
$('#daterange').daterangepicker(
		{
			ranges: {
	           'Today': [new Date(), new Date()],
	           'Yesterday': [moment().subtract(1,'days'), moment().subtract(1,'days')],
	           'Last 7 Days': [moment().subtract(6,'days'), new Date()],
	           'Last 30 Days': [moment().subtract(29,'days'), new Date()],
	           'This Month': [moment().startOf('month'), moment().endOf('month')],
	           'Last Month': [moment().subtract(1,'month').startOf('month'), moment().subtract(1,'month').endOf('month')]
			},
			opens: 'right',
			format: 'YYYY-MM-DD',
			startDate: '2014-07-18',
			endDate: '2014-08-16'
					}, 
		function(start, end) {
			$('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		}
	);		
		</script>
		<br />
		<br />

		<%= f.submit "Apply", class: "btn" %>
		<% end %>

	</div>
	<div class="col-md-9">
		<%= @report_html.to_s.html_safe %>
	</div>
</div>

