<header>
  <div class="row roof">
    <div>
      <%= link_to('[ua]', locale: 'ua') %>
      <%= link_to('[en]', locale: 'en') %>
      <%= link_to('[ru]', locale: 'ru') %>
    </div>
  </div>
  <nav>
    <div class="dropdown navbar navbar-default black">

      <div class="navbar-header">
        <%= link_to root_path do %>
            <div style="margin-top: 15pt; margin-bottom: 15pt; margin-left: 20pt">
              <span class="logo">INFOPOLIS</span>
              <span class="logo2">business automation</span>
            </div>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right" role="navigation">

        <%= render 'layouts/header_menu_item', title: "Home", url: root_path %>

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Решения <b class="caret"></b></a>
          <ul class="dropdown-menu black">
            <%= render 'layouts/header_menu_item', title: "ERP", url: static_page(:infopolis_erp) %>
            <li class="divider"></li>
            <%= render 'layouts/header_menu_item', title: "CRM", url: static_page(:infopolis_erp) %>
          </ul>
        </li>-->


        <%= render 'layouts/header_menu_item', title: "Решения", url: static_page(:infopolis_solutions) %>
        <%= render 'layouts/header_menu_item', title: "Сотрудничество", url: '#' %>
        <%= render 'layouts/header_menu_item', title: "Контакты", url: '#' %>
        <%= render 'layouts/header_menu_item', title: "Скачать", url: url_for(controller: :download, action: :index) %>


        <% if  signed_in? %>
            <%= render 'layouts/header_menu_item', title: "Reports", url: '/reports' %>
        <% else %>
            <%= render 'layouts/header_menu_item', title: "Sign in", url: signin_path %>

            <% if false %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in... <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <%= render 'layouts/header_menu_item', title: "Sign in via login", url: signin_path %>
                    <li class="divider"></li>
                    <%= render 'layouts/header_menu_item', title: "Sign in via Facebook", url: '/auth/facebook' %>
                  </ul>
                </li>
            <% end %>
        <% end %>

        <% if signed_admin? %>
            <%= render 'layouts/header_menu_item', title: "Users", url: users_path %>
            <%= render 'layouts/header_menu_item', title: "Masters", url: masters_path %>
        <% end %>
        <% if  signed_in? %>
            <%= render 'layouts/header_menu_item', title: "Sign out (<mark>#{ current_user.name }</mark>)".html_safe, url: signout_path, method: "delete" %>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="row roof"></div>
</header>
